# ==========================
# IntelliJ IDEA
# ==========================

.idea/
*.iml

# ==========================
# Java
# ==========================

out/
target/
*.class

# ==========================
# Sistema Operacional
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================

*.log
